###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet define "define CMD module"
define(function(require, exports, module) {
	$0
});
endsnippet

# vim:ft=snippets:
